*{box-sizing:border-box;}


header{
    background-image: URL("../img/logos\ y\ backgrounds/Background-Barbie-Wallpaper.jpg");
    background-size: cover all;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

body{
    background-color: rgb(234, 144, 201);
}


main{
    max-width: auto;
    background-image: url("../img/logos y backgrounds/fondomain.jpg.avif");
    padding: 20px; 
}

.usuario{
    text-align: end;
}

.login-font, .register-font{
    color: rgb(146, 9, 171);
    font-family:'Cormorant Garamond', serif;
    font-size: large;
    text-decoration: none;
}

.login, .register{
    background: rgb(225, 176, 204);
    border: 0;
    border-radius: 10%;
}

.logo{
    margin: 0 auto;
    align-self: center;
    text-align: center;
}

.logo img{
    width: 120px;
}

.titulo{
    font-family: 'Barbie', sans-serif;
    color: rgb(218, 52, 149);
    font-size: 60px;
    text-align: center;
    text-shadow: 
        -2px -2px 0 rgba(255, 255, 255, 0.779),
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;

}

h1{
    margin: 0;

}

.pagina-principal{
    flex-direction: row;
}

.barra{
    text-align: center;

}

.busqueda{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgba(241, 187, 196, 0.887);
    border: 0;
    color: rgb(146, 9, 171);
}


.buscar{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(146, 9, 171);
    background-color: rgba(241, 187, 196, 0.887);
    border:0;
}

.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
 
    
      
    
}



.home-font{
    display: flex;
    flex-wrap: wrap;
    color: rgba(241, 187, 196, 0.887);
    text-decoration: none;
    background-color: rgb(146, 9, 171);
    font-size: 25px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10%;

  
    text-align: center;}
    .home-font:last-child {
        margin-right: 0;
    }

.home-font:first-child {
        margin-left:0;
    }

.articulo {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: rgb(175, 33, 121);

}

.articulo img {
    width: 200px;
    height: 300px;
}


.section{
    display: flex ;
    justify-content: space-between;

    }
    
h2{
    font-family: 'Barbie', sans-serif;
    color: rgb(218, 52, 149);
    font-size: 50px;
    text-shadow: 
        -1px -1px 0 rgba(255, 255, 255, 0.779),
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    border: 0 auto;

}

footer{
    margin-top: 20px;
    
}

footer p{
    margin-top: 20px;
    color: rgba(241, 187, 196, 0.887);
    text-decoration: none;
    background-color: rgb(146, 9, 171);
    font-size: 20px;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
