* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{list-style: none;}

body {
    background-color: rgb(234, 144, 201);
}

header {
    background-image: URL("../img/logosybackgrounds/Background-Barbie-Wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.usuario {
    text-align: end;
}

.login,
.register {
    background: rgb(225, 176, 204);
    border: 0;
    border-radius: 10%;
}

.login-font,
.register-font {
    color: rgb(146, 9, 171);
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    text-decoration: none;
}

.Registrarse {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
    margin-left: 50px;
}

.Registrarse label {
    border-radius: 10px;
    font-size: large;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(146, 9, 171);
    background-color: rgba(241, 187, 196, 0.887);
    border: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

.Registrarse input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(146, 9, 171);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.Registrarse button {
    background-color:rgb(146, 9, 171);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
    color: rgba(241, 187, 196, 0.887) 
}

.logo {
    margin: 0 auto;
    align-self: center;
    text-align: center;
}

.logo img {
    width: 150px;
}

.titulo {
    font-family: 'Barbie', sans-serif;
    color: rgb(218, 52, 149);
    font-size: 60px;
    text-align: center;
    text-shadow:
        -2px -2px 0 rgba(255, 255, 255, 0.779),
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}

h1 {
    margin: 0;
}

.barra {
    text-align: center;
}

.busqueda {
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgba(241, 187, 196, 0.887);
    border: 0;
    color: rgb(146, 9, 171);
}

.buscar {
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(146, 9, 171);
    background-color: rgba(241, 187, 196, 0.887);
    border: 0;
}

.busq h2{
    font-size: 35px;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(146, 9, 171);
    text-decoration: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.home-font {
    display: flex;
    flex-wrap: wrap;
    color: rgba(241, 187, 196, 0.887);
    text-decoration: none;
    background-color: rgb(146, 9, 171);
    font-size: 25px;
    width: auto;
    height: auto;
    padding: 10px 100px 10px 100px;
    border-radius: 10%;
    margin-bottom: 20px;
    text-align: center;
}

.home-font:last-child {
    margin-right: 0;
}

.home-font:first-child {
    margin-left: 0;
}

main {
    max-width: 100%;
    background-color: rgba(241, 187, 196, 0.948);
    padding: 20px;
    margin: 20px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(146, 9, 171);
    font-size: 45px;
    text-decoration: underline;
    background-color: rgba(241, 187, 196, 0.887);
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: rgb(164, 22, 115);
    align-items: center;
    margin: 15px;
    color: rgba(241, 187, 196, 0.887);
    font-family:'Cormorant Garamond', serif;
    width: 230px;
    height: 380px;
}

.articulo img {
    width: 200px;
    height: 300px;
}

.articulo a{
    font-family: 'Cormorant Garamond', serif;
    font-size: auto;
    margin: 0px;
    color:rgba(241, 187, 196, 0.887);
    text-decoration: none;
}

.fondo-detalles-generos{
    background-color: rgb(241, 187, 196);
}

.articulo_detalles{
    display: flex;
    flex-direction: row;
    max-height: 55vh;
    background-color: rgb(164, 22, 115);
}

.articulo_detalles a{
    color:rgba(249, 148, 165, 0.887);
    text-decoration: none;
}
.articulo_detalles h3{
    margin-bottom: 20px;
}
.articulo_detalles p{
    margin-bottom: 10px;
}

.generos_lista{
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
    color: rgba(241, 187, 196, 0.887);
    font-family:'Cormorant Garamond', serif;
    font-size: large;
    width: auto;
    height: auto;
}

.articulo_gen{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: rgb(164, 22, 115);
    align-items: center;
    margin: 20px;
    color: rgba(241, 187, 196, 0.887);
    font-size: xx-large;
    font-family:'Cormorant Garamond', serif;
    
}
.articulo_reco{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    background-color: rgb(164, 22, 115);
    align-items: center;
    margin: 15px;
    color: rgba(241, 187, 196, 0.887);
    font-family:'Cormorant Garamond', serif;
    width: auto;
    height: auto;
}

.reco{
    display:flex;
}

.articulo_reco a{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    background-color: rgb(164, 22, 115);
    align-items: center;
    margin: 15px;
    color: rgba(241, 187, 196, 0.887);
    font-family:'Cormorant Garamond', serif;
    width: 230px;
    height: 380px;
}
.articulo_reco a img{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin: 15px;
    width: 230px;
    height: 380px;
}




.articulo_gen a{
    font-family: 'Cormorant Garamond', serif;
    font-size: x-large;
    color:rgba(241, 187, 196, 0.887);
    text-decoration: none;
    background-color: rgba(249, 148, 165, 0.887);
    padding: 10px 30px;
    margin:20px;
    border-radius: 10%;
}

.articulo ul{
    display: flex;
    flex-direction: column;
}

 .div_imagen img {
    height: 80%;
    justify-self: flex-start;
    margin: 40px;
}
    
.div_info{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-self: flex-end;
    align-self: center;
}

.div_info h3{
    color:rgba(241, 187, 196, 0.887);
    font-size: x-large;
    font-family:'Cormorant Garamond', serif;
    margin-bottom: 20px;
}

.div_info p{
    color:rgba(241, 187, 196, 0.887);
    font-size: large;
    font-family:'Cormorant Garamond', serif;
}

footer {
    background-color: rgb(146, 9, 171);
    border-radius: 10%;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    justify-content: center;
}

footer p{
    color: rgba(241, 187, 196, 0.887);
    text-decoration: none;
    font-size: small;
    margin: 10px;
}

.foto_footer{
    display:flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

@media (max-width:420px) {
.Registrarse {
       margin: 0;
}

header {
    background-color: rgb(232, 98, 189);
    background-image: none  ;
}
    
.logo img {
    width: 120px;
}

.titulo {
    font-size: 40px;
}

.home {
    justify-content: space-evenly;
}

.home-font {
    font-size: 20px;
    padding: 10px 30px 10px 30px;   
}


.articulo_detalles{
    flex-direction: column;
    max-height: 80vh;
    max-width: 90vw;
   }

.div_imagen img {
    height: 60vw;
    margin: 0;
    padding: 10px;
}

.div_imagen  {  
    align-self: center;
}

.div_info{
    text-align: left;
    font-size: small;
    width: 98%;
    padding: 10px;
}

.div_info h3{
    margin-bottom: 20px;
}
footer p{
    font-size: x-small;
    margin: 2px;
}
}
